<nav class="blue">
  <div class="nav-wrapper">
    <a routerLink="/articles/home" class="brand-logo">Vector Magazine</a>
    <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="!userLogged"><a class="tooltipped" data-position="bottom" data-tooltip="Login user" routerLink="/user/login">Login</a></li>
      <li *ngIf="userLogged"><a class="tooltipped" data-position="bottom" data-tooltip="Logout user" routerLink="/user/logout">Logout</a></li>
      <li *ngIf="userLogged"><a class="tooltipped" data-position="bottom" data-tooltip="View all authors" routerLink="/admin/author/list">Authors</a></li>
    </ul>
  </div>
  <div *ngIf="userLogged">
    <strong>In session: {{completeName}}</strong>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><div class="user-view">
        <div class="background">
          <img src="images/office.jpg">
        </div>
        <a href="#user"><img class="circle" src=""></a>
        <a href="#name"><span class="black-text name">{{completeName}}</span></a>
        <a href="#email"><span class="black-text email">{{dirEmail}}</span></a>
      </div></li>
  <li *ngIf="!userLogged"><a routerLink="/user/login">Login</a></li>
  <li *ngIf="userLogged"><a routerLink="/user/logout"><i class="material-icons">input</i>Logout</a></li>
  <li *ngIf="userLogged"><a routerLink="/admin/author/list"><i class="material-icons">group</i>Authors</a></li>
</ul>