<nav class="grey">
  <div class="nav-wrapper">
    <a routerLink="/articles/home" class="brand-logo">Vector Magazine</a>
    <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="!userLogged"><a class="tooltipped" data-position="bottom" data-tooltip="Registy"
          routerLink="/user/registy">Register</a></li>
      <li *ngIf="!userLogged"><a class="tooltipped" data-position="bottom" data-tooltip="Login user"
          routerLink="/user/login">Login</a></li>
      <li *ngIf="userLogged  && numberRol != 3"><a class="tooltipped" data-position="bottom"
          data-tooltip="View all authors" routerLink="/admin/author/list">Authors</a></li>
      <li *ngIf="userLogged  && numberRol != 1 && numberRol != 3"><a class="tooltipped" data-position="bottom"
          data-tooltip="View all editors" routerLink="/admin/editor/list">Editors</a></li>
      <li *ngIf="userLogged && numberRol == 3"><a routerLink="/evaluator/articles">Articles list</a></li>
      <li *ngIf="userLogged && numberRol != 1 && numberRol != 3"><a class="tooltipped" data-position="bottom"
          data-tooltip="View all evaluators" routerLink="/admin/evaluator/list">Evaluators</a></li>
      <li *ngIf="userLogged"><a class="tooltipped" data-position="bottom" data-tooltip="Logout user"
          routerLink="/user/logout">Logout</a></li>

    </ul>
  </div>
  <div *ngIf="userLogged">
    <strong>In session: {{rol}}</strong>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="https://wallpaperplay.com/walls/full/3/f/3/156611.jpg">
      </div>
      <a><i class="material-icons">face</i></a>
      <a><span class="black-text name">{{completeName}}</span></a>
      <a><span class="black-text email">{{dirEmail}}</span></a>
    </div>
  </li>
  <li *ngIf="!userLogged"><a routerLink="/user/registy">Register</a></li>
  <li *ngIf="!userLogged"><a routerLink="/user/login">Login</a></li>
  <li *ngIf="userLogged && numberRol == 3"><a routerLink="/evaluator/articles"><i
        class="material-icons">list</i>Articles list</a></li>
  <li *ngIf="(userLogged && numberRol != 3)"><a routerLink="/admin/author/list"><i
        class="material-icons">group</i>Authors</a></li>
  <li *ngIf="(userLogged && numberRol != 1 && numberRol != 3)"><a routerLink="/admin/editor/list"><i
        class="material-icons">group</i>Editors</a></li>
  <li *ngIf="userLogged && numberRol != 1 && numberRol != 3"><a routerLink="/admin/evaluator/list"><i
        class="material-icons">group</i>Evaluators</a></li>
  <li *ngIf="userLogged"><a routerLink="/user/logout"><i class="material-icons">input</i>Logout</a></li>
</ul>