<br />
<a class="waves-effect waves-light btn green" routerLink="/admin/author/creator">
    <i class="material-icons right">add</i>
    Add new author
</a>

<br />

<div class="row s12">
    <ul *ngFor="let a of authorList" class="collection col s4">&nbsp;&nbsp;
        <li class="collection-item avatar">
            <img src="" alt="" class="circle">
            <span class="title">{{a.firstName}} {{a.firstSurname}}</span>
            <p>{{a.education}}<br>
                {{a.email}}
            </p>
            <a routerLink="/admin/articles/list/{{a.firstName}}" class="secondary-content"><i class="material-icons">storage</i></a>
        </li> 
    </ul>
</div>
