<div class="row center">
    <div class="row">
        <div class="section">
            <strong>New article from</strong>
        </div>
        <div class="input-field col s3">
            <input [(ngModel)]="article.title" id="title" type="text" class="validate">
            <label for="title">Article title</label>
        </div>
        <div class="input-field col s12">
            <input [(ngModel)]="article.abstract" id="abstract" type="text" class="validate">
            <label for="abstract">Article abstract</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s9">
            <input [(ngModel)]="article.keywords" placeholder="Article keywords;" id="keywords" type="text"
                class="validate">
            <label for="keywords">Article keywords</label>
        </div>
    </div>

    <div class="section">
        <strong>Authors from</strong>
    </div>
    <div class="row">
        <div class="input-field col s3">
            <input [(ngModel)]="article.authorName" id="firstName" type="text" class="validate">
            <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s3">
            <input [(ngModel)]="article.authorSurname" id="firstSurname" type="text" class="validate">
            <label for="firstSurname">First Surname</label>
        </div>
        <div class="input-field col s3">
            <input id="afiliation" type="text" class="validate">
            <label for="afiliation">Arthor Afiliation</label>
        </div>
        <div class="input-field col s3">
            <input id="email" type="Email" class="validate">
            <label for="email">Arthor Email</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text upload" id="btnUpload">Upload</span>
            </div>
            <div class="custom-file">
                <form action="/api/upload" method="post" enctype="multipart/form-data">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01">
                </form>
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn green" (click)="saveNewArticle()">
                <i class="material-icons right">save</i>
                Save</a>&nbsp;&nbsp;
            <a class="waves-effect waves-light btn red">
                <i class="material-icons right">cancel</i>
                Cancel</a>
        </div>
    </div>
</div>