<br />
<a class="waves-effect waves-light btn green" routerLink="/admin/articles/creator">
    <i class="material-icons right">add</i>
    Add new article
</a>

<br />
<br />
<a class="waves-effect waves-light btn green" routerLink="/edition/articles">
    <i class="material-icons right">arrow_back</i>
    Back
</a>

<br />

<table class="highlight responsive-table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Number Edition
            </th>
            <th>
                State
            </th>
            <th>
                Download
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of articleList['names']">
            <td>
                {{a.title}}
            </td>
            <td>
                Volumen N°{{a.numEdition}}
            </td>
            <td>
                {{a.state}}
            </td>
            <td>
                Download File
            </td>
            <td>
                <a class="waves-effect waves-light btn blue" routerLink="/admin/articles/editor/{{a.id}}"><i
                        class="material-icons right">edit</i>Edit</a>
            </td>
            <td>
                <a (click)="deleteArticle(a.id)" class="waves-effect waves-light btn red">
                    <i class="material-icons right">delete</i>
                    Delete</a>
            </td>
        </tr>
    </tbody>
</table>