<div class="row">
    <div class="col s8 ">
        <div class="card-panel teal ">
            <span class="white-text">
                Vector magazine is a magazine where you will find information for your daily life,
                from the best news and entertainment.
            </span>
        </div>
        <div class="card-panel teal">
            <span class="white-text">
                Our way of evaluating and rating the articles of the magazine's own editions are separated as:
                i. Between 1 and 2.99: the item will be rejected.
                ii. Between 3 and 3.99: the item will be accepted with changes.
                iii. Between 4 and 5: the article will be accepted.
            </span>
        </div>
    </div>
</div>