<section class="hero">
    <div class="hero-inner">
        <h2>Vector Magazine</h2>
        <h3>What you need at your fingertips</h3>
        <div class="col s9">
            <ul class="tabs">
                <li class="tab col s3 "><a class="active" routerLink="/home">Home</a></li>
                <li class="tab col s3 "><a class="active" routerLink="/edition/articles">Editions</a></li>
                <li class="tab col s3 "><a class="active" routerLink="/articles/home">Articles</a></li>
            </ul>
        </div>
    </div>
</section>